questionnaire.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT questionnaires (questionnaire+) >
<!ELEMENT questionnaire (titre, questions) >
<!ELEMENT questions (question+) >
<!ELEMENT titre (#PCDATA) >
<!ELEMENT question (enonce, reponse+) >
<!ELEMENT enonce (#PCDATA) >
<!ELEMENT reponse (#PCDATA) >
<!ATTLIST questionnaire niveau (debutant|intermediaire|expert) #REQUIRED numero ID #REQUIRED>
<!ATTLIST reponse id ID #REQUIRED score CDATA #REQUIRED >